body{
	margin: 0;
	padding: 0;
}

.goodInfo{
	margin-left: 200px;
	margin-top: 50px;
	width: 800px;
	/*height: 650px;*/
	background-color: #00FFFF;
	border: solid 0.5px #EEEEEE; 
	/*border-bottom: solid 1px #EEEEEE;*/
}
.goodInfo .goodImg{
	width: 400px;
	height: 400px;
	/*background-color: #0000FF;*/
	float: left;
}
.goodInfo .baseInfo{
	float: left;
	width: 400px;
	height: 400px;
	/*background-color: #FF0000;*/
}
.goodInfo .baseInfo table{
	padding: 20px;
	
}
.goodInfo .baseInfo table td{
	height: 40px;
	font-size: 15px;
}
.goodInfo .baseInfo .addCart{
	width: 120px;
	height: 50px;
	color: red;
	font-size: 16px;
	background-color: #FFE4C4;
	border: solid 1px red;
	cursor: pointer;
}
.goodInfo .baseInfo .buyNow{
	width: 120px;
	height: 50px;
	color: #FFFFFF;
	font-size: 16px;
	background-color: #FF0000;
	border: solid 1px red;
	cursor: pointer;
}

.goodInfo .detailedInfo{
	float: left;
	margin-top: 22px;
	width: 800px;
	height: 400px;
	/*background-color: #0000FF;*/
}
.goodInfo .detailedInfo .summary{
	width: 100%;
}
.goodInfo .detailedInfo .summary ul{
	margin: 0;
	padding: 0;
	border: solid 1px #EEEEEE;
	list-style-type: none;
	width:100% ;
}
.goodInfo .detailedInfo .summary ul li{
	width: 100px;
	padding: 12px 16px;
	text-align: center;
	font-size: 16px;
	color: red;
	/*background-color: #EEEEEE;*/
	border-left: solid 1px red;
	border-right: solid 1px red;
}
.goodInfo .detailedInfo .good-summary{
	padding-left: 20px;
	font-size: 14px;
	color: #888888;
	border: solid 1px #EEEEEE;
	width: 802px;
}
.goodInfo .detailedInfo .good-summary td{
	width: 100px;
	padding: 5px 5px;
}
.goodInfo .detailedInfo .good-evaluate{
	width: 804px;
	
}
.goodInfo .detailedInfo .good-evaluate th{
	width: 100%;
	text-align: left;
	background-color: red;
	color: #FFFFFF;
	padding: 8px 6px;
	border: 0;
}
.goodInfo .detailedInfo .good-evaluate td{
	border: 0;
	padding: 8px 6px;
	font-size: 14px;
	color: #888888;
	border-bottom: solid 1px #EEEEEE;
}

